html {
  background-color: #fffff4;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.navbar {
  background: rgba(219, 253, 0, 0.1);
}

.hamburger {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

.hamburger .line {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px 0;
  background: rgba(219, 253, 0, 0.1);
}

.nav-links li {
  padding: 10px 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  position: relative;
  transition: all 0.4s ease;
}

a::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #a7c957;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

a:hover {
  color: #a7c957;
}

a:hover::after {
  width: 100%;
}
.navbar {
  display: none;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }
}
