---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import PostCard from "../components/PostCard.astro";

const pageTitle = "Blog - Astro Tutorial";
const headerTitle = "Blog";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout title={pageTitle}>
  <Header title={headerTitle} />
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <PostCard post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
