---
const { title } = Astro.props;
---

<div class="header">
  <h1>{title}</h1>
</div>

<style>
  .header {
    position: relative;
    background-color: white;
    background-image: radial-gradient(black 0.1px, transparent 0.5px),
      radial-gradient(black 0.1px, white 0.5px);
    background-size: 20px 20px;
    background-position:
      0 0,
      10px 10px;
    overflow: hidden;
    padding: 20px 40px;
    text-align: center;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 0%, white 80%);
    mask-image: radial-gradient(transparent 0%, white 80%);
    z-index: 1;
  }

  h1 {
    padding: 8px 0 8px;
  }
</style>
